day-one/part-one/puzzle-input.txt
day-one/part-two/puzzle-input.txt
day-one/part-two/smaller-puzzle-input.txt
day-two/example-input.txt
day-two/main-input.txt
day-three/example-input.txt
day-three/main-input.txt


